.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.content-course {
    width: 300;

    background-color: #222222;
    position: sticky;
    left: 0;
    top: 1;
    z-index: 998;

}

h3 {
    color: #fff;
}

.content-lesson a {
    color: gray;
    text-decoration: none;
    transition: background-color 0.5s ease;
    font-size: 20px;
}

.content-lesson a:hover {
    background-color: #e9f9e9;
    color: #000;
}

.name-course {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.name-course:hover {
    color: #fff;
}

.content-course {
    padding: 15px;
}

.main-content {
    padding-top: 35px;
}

.main-content-course {
    width: 1000px;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    transition: box-shadow 0.5s ease;
    margin-bottom: 35px;
    margin-left: 35px;
    font-size: 25px;
}

.content-shadow:hover {
    box-shadow: 0px 0px 5px 3px #d7d7d7;
}

.press-link {
    cursor: pointer;
}

.fa-bookmark {
    color: blue;
}

.fa-pen-to-square {
    color: green;
}

li {
    font-size: 25px;
}