.content-container {
    margin-left: 290px;
    padding: 20px;
}

.sidebar {
    width: 300px;
    border-right: 1px solid lightgray;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 1;
    left: 0;
    z-index: 999;
    overflow-y: auto;
    background-color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.content-lesson a {
    color: gray;
    text-decoration: none;
    transition: background-color 0.5s ease;
    font-size: 20px;
}

.content-lesson li a:hover {
    background-color: #e9f9e9;
    color: #000;
}