{% extends "base.html" %}

    {% block link %}
    <script src="https://kit.fontawesome.com/242e94568a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/course.css">
    <link rel="stylesheet" href="../static/css/main.css">
    {% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-course">
            <a href="/learn/{{ course.name }}"class="name-course"> {{ course.name }}</a>
        </div>
        <div class="content-lesson">
            <ul>
                {% for lesson in lessons %}
                <li><a href="/learn/{{ course.name }}/{{ loop.index }}">{{loop.index}}. {{ lesson.name }}
                    {% if current_user.id | string() in lesson.completed_by_users%}
                    <i class="fa-solid fa-check"></i>
                    {% endif %}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="name-of-course">
        <h1>{{ course.name }}</h1>
    </div>
    <div class="description">
        <h2>{{ course.description }}</h2>
    </div>
    <div class="creator">
        <h2>{{users[course.user_id - 1].name}}</h2>
    </div>
</div>
{% endblock %}