{% extends "base.html" %}

{% block link %}
    <script src="https://kit.fontawesome.com/242e94568a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/course.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-course">
            <a href="/learn/{{ course.name }}"class="name-course"> {{ course.name }}</a>
        </div>
        <div class="content-lesson">
            <ul>
                {% for lesson in lessons %}
                <li><a href="/learn/{{ course.name }}/{{ lesson.name }}">{{loop.index}}. {{ lesson.name }}
                    {% if current_user.id | string() in lesson.completed_by_users%}
                    ГАЛОЧКА
                    {% endif %}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

<div class="main-content-course content-shadow">
    <h1> {{ lesson.name }} </h1>
    <ol>
        <li>Первая тема</li>
        <li>Вторая тема</li>
    </ol>
</div>

<div onclick="location.href='/learn/{{ course.name }}/{{ lesson.name }}/theory'" class="main-content-course content-shadow press-link">
    <h2><i class="fa-solid fa-bookmark"></i> Прочитать теорию</h2>
</div>

<div onclick="location.href='/learn/{{ course.name }}/{{ lesson.name }}/tasks'" class="main-content-course content-shadow press-link">
    <h2><i class="fa-solid fa-pen-to-square"></i> Выполнить задания</h2>
</div>

{% endblock %}