{% extends "base.html" %}

{% block link %}
    <script src="https://kit.fontawesome.com/242e94568a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/course.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-course">
            <a href="/learn/{{ course.name }}"class="name-course"> {{ course.name }}</a>
        </div>
        <div class="content-lesson">
            <ul>
                {% for lesson in lessons %}
                <li><a href="/learn/{{ course.name }}/{{ lesson.name }}">{{loop.index}}. {{ lesson.name }}
                    {% if current_user.id | string() in lesson.completed_by_users%}
                    ГАЛОЧКА
                    {% endif %}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}

<div class="main-content">
    {% if tasks %}
    {% for task in tasks %}
    <div class="main-content-course content-shadow">
        <h1>{{ task.name }} {% if current_user.id | string() in task.users_passed%}ГАЛОЧКА{% endif %}</h1>
        <a href="/learn/{{ course.name }}/{{ lesson.name }}/tasks/{{loop.index}}"> Перейти </a>
        <p>{{j}}</p>
    </div>
    {% endfor %}
    {% else %}
    <div class="main-content-course content-shadow">
        <h1>Заданий ещё нет</h1>
    </div>
    {% endif %}
</div>
{% endblock %}