{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/list_of_courses.css">
{% endblock %}

{% block sidebar %}
<nav class="sidebar">
    <div class="content-lesson">
        <ul>
            <li><a href="/lesson">Главная</a></li>
            <li><a href="/lesson">Совместные проекты</a></li>
            <li><a href="/lesson">Вопросы</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="courses">
        {% if courses %}
            {% for course in courses %}
            <div class="course">
                <h2>Курс {{course.id}}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Создатель</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{course.name}}</td>
                            <td>{{course.description | safe}}</td>
                            <td>{{users[course.user_id - 1].name}}</td>
                            <td>
                                {% if current_user.is_authenticated %}
                                    {% if course.id|string() in current_user.completed_courses %}
                                        <span class="status-icon completed">✔</span>
                                    {% else %}
                                        <span class="status-icon not-completed">✘</span>
                                    {% endif %}
                                {% else %}
                                    <span class="status-icon">🔒</span>
                                    <span>Войдите в аккаунт, чтобы узнать статус</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="learn/{{ course.name }}" class="btn-learn">Пройти</a>
            </div>
            {% endfor %}
        {% else %}
            <h1>Курсов ещё нет</h1>
        {% endif %}
    </div>
</div>
{% endblock %}