{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/my-course.css">
    <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-lesson">
            <a href="/teach/new" class="btn btn-success create_btn">+ Новый курс</a>
            <ul>
                <li><a href="/teach/my-courses">Мои Курсы</a></li>
                <li><a href="/lessons">Уроки</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="main-content">
    {% if my_courses %}
        {% for course in my_courses %}
            <div class="course">
                <h2>Курс {{course.id}}</h2>
                <table>
                    <caption>Курс {{course.id}}</caption>
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Создатель</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{course.title}}</td>
                            <td>{{course.description | safe}}</td>
                            <td>{{users[course.user_id - 1].name}}</td>
                            <td>
                                {% if current_user.is_authenticated %}
                                    {% if course.id|string() in current_user.completed_courses %}
                                        <span class="status-icon completed">✔</span>
                                    {% else %}
                                        <span class="status-icon not-completed">✘</span>
                                    {% endif %}
                                {% else %}
                                    <span class="status-icon">🔒</span>
                                    <span>Войдите в аккаунт, чтобы узнать статус</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/teach/{{ course.name }}" class="btn-edit">Редактировать</a>
            </div>
        {% endfor %}
    {% else %}
        <h1>Курсов ещё нет</h1>
    {% endif %}
</div>
{% endblock %}