{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/new.css">
    <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-lesson">
            <a href="/teach/new" class="btn btn-success create_btn">+ Новый курс</a>
            <ul>
                <li><a href="/courses">Курсы</a></li>
                <li><a href="/lessons">Уроки</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="main-content">

    <div class="new-course-form">
        <h1>Создание нового курса</h1>
        <form class="main-form" method="post">
            {{ form.hidden_tag() }}
            <p>Название курса</p>
            <p> {{ form.name(class="form-control", type="text") }}
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p>
            <p>Описание курса</p>
            <p> {{ form.description(class="form-control", type="text") }}
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p>
            <p> {{ form.submit(type="submit", class="btn btn-success") }} </p>
      </form>
    </div>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/autosize/dist/autosize.min.js"></script>
    <script>
    autosize($('#textarea'));
    </script>

</div>
{% endblock %}