{% extends "base.html" %}

{% block link %}
    <script src="https://kit.fontawesome.com/242e94568a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/course.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-course">
            <a href="/learn/{{ course.name }}"class="name-course"> {{ course.name }}</a>
        </div>
        <div class="content-lesson">
            <ul>
                {% for lesson in lessons %}
                <li><a href="/learn/{{ course.name }}/{{ lesson.name }}">{{loop.index}}. {{ lesson.name }}
                    {% if current_user.id | string() in lesson.completed_by_users%}
                    <i class="fa-solid fa-check"></i>
                    {% endif %}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

{% set task = tasks[task_id - 1]%}

<div class="main-content">
    <div class="main-content-course content-shadow">
        <h5>{{ task.name }}</h5>
    </div>
    {% set str_user_id = current_user.id | string() %}
    <div class="main-content-course content-shadow">
        <p>{{ task.question }}<p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% set correct = 0 %}
            <div>
                {% for option in task.options.split(', ')%}
                <div>
                    <input type="radio" id="{{ option }}" name="answer" value="{{ option }}">
                    <label for="{{ option }}">{{ option }}</label>
                </div>
                {% endfor %}
            </div>
            {% if str_user_id in task.users_passed %}
            <!--тут если тест пройден сделай типо зеленым красоту-->
            <div onclick="check()" method="post" disable=True class="main-content-\course content-shadow press-link">
                <h2><i class="fa-solid fa-pen-to-square"></i>Проверить</h2>
            </div>
            <p id="submit_button2" style="display: none;"> {{ form.submit(type="submit", disable=True, class="btn btn-primary") }} </p>
            {% else %}
            <div onclick="check()" method="post" class="main-content-\course content-shadow press-link">
                <h2><i class="fa-solid fa-pen-to-square"></i>Проверить</h2>
            </div>
            <p id="submit_button1" style="display: none;"> {{ form.submit(type="submit", class="btn btn-primary") }} </p>
            {% endif %}
        </form>
    </div>
    {% if str_user_id in task.users_passed %}
    <div class="main-content-course content-shadow">
        <h5>ТЕст пройден</h5>
    </div>
    {% endif %}
</div>
<script>
    function check(){
    var correct = 0;
    var radio = document.querySelector('input[name="answer"]:checked').value;
    if (radio == "{{ task.correct_option }}"){
        document.getElementById("submit_button1").style.display = "inline";
        document.getElementById("submit_button2").style.display = "inline";
    }
};
</script>
{% endblock %}
