
{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/teach.css">
    <link rel="stylesheet" href="../static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-lesson">
            <a href="/teach/new" class="btn btn-success create_btn">+ Новый курс</a>
            <ul>
                <li><a href="/teach/my-courses">Мои Курсы</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>Курсы</h1>
    <!-- Вот здесь сыктыр нужен цикл со всеми курсами -->
{% endblock %}