{% extends "base.html" %}

{% block link %}
    <script src="https://kit.fontawesome.com/242e94568a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/course.css">
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block sidebar %}
    <nav class="sidebar">
        <div class="content-course">
            <a href="/learn/{{ course.name }}"class="name-course"> {{ course.name }}</a>
        </div>
        <div class="content-lesson">
            <ul>
                {% for lesson in lessons %}
                <li><a href="/learn/{{ course.name }}/{{ loop.index }}">{{loop.index}}. {{ lesson.name }}
                    {% if current_user.id | string() in lesson.completed_by_users%}
                    <i class="fa-solid fa-check"></i>
                    {% endif %}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="main-content-course content-shadow">
        <p> {{ lesson.theory_title }} <p>
        <h5>{{ lesson.theory | replace("|", "<br/>") | safe }}</h5>
    </div>
</div>

<div onclick="location.href='/learn/{{ course.name }}/{{ lesson.id_in_course }}/tasks'" class="main-content-course content-shadow press-link">
    <h2><i class="fa-solid fa-pen-to-square"></i> Перейти к заданиям</h2>
</div>
{% endblock %}